*{
	list-style: none;
	font-family: "Champagne & Limousines", sans-serif;
	a{
		text-decoration: none;
		color: black;
	}
}
// Variables
$rosaViejo: #C693A2;
$verdePastel: #8FB7AC;
$celesteRetro: #c7d9fb;
// Variables

// Funciones
@mixin ancho-alto($ancho,$alto){width: $ancho; height: $alto;}
@mixin margin-padding($margin,$padding){margin: $margin; padding: $padding;}
@mixin parrafos($color,$posicion,$tamanioLetra){
	color: $color;
	text-align: $posicion;
	font-size: $tamanioLetra
}
// Funciones

// fuentes
.simplicity{
	font-family: "Simplicity", sans-serif; 
}
// fuentes

// Modificación al buscador
.form-control{
	max-width: 20vw;
}
// Modificación al buscador

// Modificación redes
.header__redes{
	@include margin-padding(0.5rem,0.5rem);
	}
.header__redes--mr{
	@extend .header__redes;
	margin-right: 0.5rem;
	}

.header__contenedorRedes{
	display: flex;
	justify-content: center;
}
// Modificación redes

// Navbar
.navbar-light{
	.navbar-nav{
		.nav-link{
			color: black;
		}
		.nav-link:hover{
				color: $rosaViejo;
		}
	}
}
.navbar__menu{
	letter-spacing: 2px;
	a:hover{
		color: $rosaViejo;
	}
}
.navbar__subMenu{
	position: absolute;
	display: flex;
	flex-direction: column;
	display: none;
}
.navbar__menu{
	li:hover{
		ul{
		display: flex;
		}
	}
}
.header__menu--fuente{
	font-size: 1.4rem;
}

// Navbar

// Carousel
.carousel--tamanio{
	max-height: 600px;
}
// Carousel

// Bienvenid@
.bienvenida__titulo{
	letter-spacing: 5.5px;
}
.parrafo--tamanio{
	@include parrafos(#737373, center, 1.2rem);
	font-style: italic;
	letter-spacing: 1.7px;
}
// bienvenid@

// ultimos productos
.contenedorPrincipal__ultimos--altura{
	height: 34rem;
	display: flex;
}
.contenedor__ultimos{
	p{
		margin-bottom: 0px;
		font-size: 1rem;
	}
}
	.ultimos__parrafo--tamanio{
		@include parrafos(#737373, left, 1.2rem);
	}
	.img-thumbnail--mod {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0rem;
}
// ultimos productos

/*--------CONTENIDO Productos--------*/
.catalogo--nopadding{
	padding-left: 0rem;	
}
#catalogo{
	.col-lg-3{
		padding: 10px;
	}
	img{
		width: 250px;
		height: 200px;
	}
	img:hover{
		border:5px solid white;
	}
	a:hover{
		color: $rosaViejo;
	}
}
.parrafo--nomargin{
	margin-bottom: 0rem;
}
.menuLateral{
	font-size: 1.3rem;
	li{margin-bottom: 0.5rem;}
}
#detalles{
	img{@include ancho-alto(35px, 35px);margin-right: 5px;}
}
/*--------CONTENIDO Productos--------*/

// CONTENIDO Preguntas frecuentes
.preguntas__titulos{
	h5{font-weight: bold;}
}
.preguntas--bg{
	background-color: $celesteRetro;
}
// CONTENIDO Preguntas frecuentes

/*--------CONTENIDO Sobre Mi--------*/
.imgSobreMi{
  // height: 100%;
  // width: 34rem;
  height: 100%;
  width: 100%;
}
.sobreMi__parrafo{
	@include parrafos(#737373, center, 1.2rem)
}
/*--------CONTENIDO Sobre Mi--------*/

/*--------CONTENIDO Contacto--------*/
.formulario{
  display: block;
  justify-content: center;
  margin-left: 5px;
}
.enviar{
  margin-bottom: 15px;
  margin-left: 10px;
}
/*--------CONTENIDO Contacto--------*/

// Footer
footer{
	color: white;
	a:hover{
		color: white;
	}
	.footer--color{
		background-color: $rosaViejo;
		// background-color: #E3E2E2;
	}
	.footer__iconos--tamanio{
		@include ancho-alto(30px, 30px);
	}
	.footer__iconos--tamanio2{
		@include ancho-alto(25px, 25px);
	}
	.footer__mapa--nopadding{
		padding-left: 0rem;
	}
}
// Footer

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.form-control{
		max-width: 100vw;
	}
	.navbar__menu{
		font-size: 0.9rem;
	}
	// .main__sobreMi--tamanio{
	// 	display: flex;
	// 	width: 250px;
	// 	height: 350px;
	// }
	.ultimos__img--tamanio{
	@include ancho-alto(170px, 170px);
	}
.contenedorPrincipal__ultimos--altura{
	height: 54rem;
	}

}
@media (max-width: 767.98px) {
	.header__logo--tamanio{
		@include ancho-alto(125px, 125px);
	}
	.header__redes--tamanio{
		@include ancho-alto(45px, 45px);
	}
	.header__contenedorRedes{
		margin-bottom: 1.2rem;
	}
	.header__contenedorBuscar--start {
   	justify-content: flex-start !important;
   	}
   	.header__cajaNavbar{
		justify-content: center;
	}
	.navbar__subMenu{
	position: relative;
	display: flex;
	flex-direction: column;
	display: none;
	height: 18rem;
	justify-content: space-around;
	font-size: 1rem;
}
.navbar__menu{
		li:hover{
			ul{
			display: flex;
			}
		}
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.form-control{
		max-width: 32vw;
	}
	.ultimos__img--tamanio{
	@include ancho-alto(260px, 260px);
	}
	.contenedorPrincipal__ultimos--altura{
	height: 64rem;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.header__logo--tamanio{
		@include ancho-alto(150px, 150px);
	}
	.header__contenedorRedes{
	display: flex;
	justify-content: center;
	align-items: center;
}
	.header__redes--tamanio{
		@include ancho-alto(55px, 55px);
	}
	.form-control{
		max-width: 25vw;
	}
	.header__cajaNavbar{
		justify-content: center;
	}
	.header__navbar{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		// border: solid 1px black;
	}
	.navbar__subMenu{
		z-index: 1;
		background-color: white;
	}
	#catalogo{
		img{
			width: 140px;
			height: 125px;
		}
	}
	#detalles{
		img{@include ancho-alto(35px, 35px);margin-right: 5px;}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.header__navbar{
		width: 80%;
	}
	.navbar__menu{
	width: 60%;
	}
	.ultimos__img--tamanio{
	@include ancho-alto(400px, 400px);
	}
	.contenedorPrincipal__ultimos--altura{
	height: 78rem;
	}
	#catalogo{
		img{
			width: 175px;
			height: 135px;
		}
	}
	#detalles{
		img{@include ancho-alto(35px, 35px);margin-right: 5px;}
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.form-control{
		max-width: 22vw;
	}
	#catalogo{
		img{
			width: 225px;
			height: 165px;
		}
	}
	#detalles{
		img{@include ancho-alto(35px, 35px);margin-right: 5px;}
	}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
		.form-control{
		max-width: 22vw;
	}
	#catalogo{
		img{
			width: 255px;
			height: 205px;
		}
	}
	#detalles{
		img{@include ancho-alto(35px, 35px);margin-right: 5px;}
	}
}